---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Fireside">
  <main>
    <section class="flex flex-col items-center space-y-8 text-center h-screen">
      <h1 class="text-5xl font-bold md:text-8xl">
        Everyone has a story. <br /> Let's hear yours.
      </h1>
      <div class="flex flex-col space-y-4 md:flex-row md:space-x-4">
        <a
          href="#"
          class="px-20 py-4 bg-black border-2 border-blue-400 rounded-sm inline-block text-xl"
          >Apply Now</a
        >
        <a
          href="#"
          class="px-20 py-4 bg-black border-2 border-blue-400 rounded-sm inline-block text-xl"
          >About Us</a
        >
      </div>
      <p class="text-4xl max-w-screen-md m-auto">
        Fireside.bio provides students with the opportunity to hear the unique
        stories of professionals in the tech and venture capital space.
      </p>
    </section>
    <section class="flex flex-col items-center space-y-8 text-center">
      <h2 class="text-3xl font-bold">Past Speakers</h2>
      <p class="text-xl">
        Our past speakers come from companies developing the front lines of
        innovation.
      </p>
      <div></div>

      <a
        href="#"
        class="px-6 py-2 border-2 border-blue-400 rounded-sm inline-block"
      >
        Speak at Fireside
      </a>
    </section>
  </main>
</Layout>
